.App{
    width: 100vw;
    height: 100vh;
}


#logo{
    width: 10vh;
    height: 5%;
  }
  
  .apresentation{
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20vh;
    flex-direction: column;
  }
  
  .MainMenu{
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  #form{
    padding-top: 30px;
    border-radius: 30px;
    width: 50vw;
    min-width: 20vh;


  }

  .embed-submit-field {
    border-radius: 30px;
    position: relative;
  
  }
  
  #userInput {
    align-items: center;
  
    width: 100%;
    padding: 10px 20px;
    color: #242435;
    border-radius: 30px;
    border: none;
  }
  
  #button {
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    right: -2px;
    top: -3px;
  
  
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #1b1b27;
    
    border: none;
    
    transition: all .6s;
  }
  
  #search-button{
    position: absolute;
    right: -2px;
    bottom: -2px;
  
    width: 45px;
    height: 45px;
    color: white;
    background-color: #323250;
    border-radius: 30px;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: all .6s;
  }
  
  #search-button:hover {
    background: #723cc8;
    color: #fff;
    cursor: pointer;
  }