* {
    font-family: 'Poppins', sans-serif;
}


/* .card{
    text-align: center;
    position: relative;
    margin-left: 30px;
    margin-top: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 400px;
    max-height: 900px;
    padding: 30px;
    border-radius: 30px;
    background: rgba(48, 11, 66, 0.253);
    overflow: hidden;
    
} */

.cardContainer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 400px;
    min-width: 350px;
}

.card{
    position: relative;
    padding: 20px;
    background-color:rgba(79, 64, 92, 0.589);
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 5px 15 px 1px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-color: rgba(130, 9, 223, 0.705);
    clip-path: circle(400px at 50% -48.5%);
}

.header{
    position: relative;
    height: 265px;
}

.profile{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    opacity: .8;
    transition: .3s;
    z-index: 3;
}

.profile:hover{
    opacity: 1;
}

.back-button{
    position: absolute;
    width: 21px;
    height: 16px;
    top: 1.4rem;
    left: 1.9rem;
    z-index: 3;
    transition: .3s;
    opacity: .8;
    cursor: pointer;
}

.back-button:hover{
    opacity: 1;
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avatar{
    max-width: 102px;
    overflow: hidden;
}

.main .image{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid rgba(153, 50, 204, 0.431);
    margin-bottom: 2px;
    overflow: hidden;
}

.name{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
}

.login{
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2rem;
    color: rgb(212, 203, 203);
    opacity: 0.7;
}

.location{
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
}

.content{
    display: flex;
    padding: 1.7rem 0.8rem 2.6rem 0.8rem;
}




.number{
    font-size: 2.1rem;
    font-weight: 600;
    color: antiquewhite;
    line-height: 1.2;
}

.number-title{
    font-size: .55rem;
    color: antiquewhite;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.right{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 2.1rem;
}   

.left{
    min-width: 190px;
    width: 220px;
}


.about{
    position: relative;
    color: #fff;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0 0 2px 0;
    margin-bottom: .9rem;
    display: inline-block;
}

.about:after{
    content: '';
    position: absolute;
    height: 3px;
    width: 120%;
    border-radius: 3px;
    background-color:whitesmoke;
    bottom: 0;
    left: 0;
}

.bioText{
    color: whitesmoke;
}

#ref{
    color: white;
}


.userInfo{
    margin: 52px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorchid;
    max-width: 500px;
    border-radius: 25px;
}

.userRepos{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); */
    grid-template-columns: repeat(auto-fit,330px);
    align-items: center;
    padding-left: 30px;
}

.repoInfo{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    max-width: 300px;
    min-width: 300px;
    min-height: 200px;
    background-color: rgba(79, 64, 92, 0.589);
}

.repoInfo .repoName{
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.repoInfo .icons{
    /* display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 60px;
    padding-left: 60px; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.1rem;
}

@media(max-width: 400px){
    .content{
        flex-direction: column;
    }
    .right{
        padding-top: 2rem;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
}