.Github{
    top:-1px;
    position: fixed;
    left: 850px;
    color: white;
    text-align: center;
}
.Search{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: fixed;
    top: -10px;
    left: 950px;
    color: white;
    font-style: italic;
    font-size: 35px;
}

.Github, .Search{

    position: fixed;
    text-align: center;
}

.search_box{
    position: fixed;
    top:20px;
    left: 1100px;
}


.personal_info{
    border-radius: 5%;
    background-color: #2f3640;
    margin-left: 40px;
    margin-top: 90px;
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img{
    border-radius: 50%;
    max-width: 200px;
}

.search_button{
    background-color: #242435;
    border-style: none;
    color: white;
    border-radius: 50%;
    line-height: 4px;
    cursor: pointer;
    font-size: 20px;
    height: 39px;
    width: 39px;
    top:0px;
    
}

.search_name{
    width: 250px;
    height: 35px;
    border-style: none;
    background-color: #2f3640;
    max-width: 900px;
    position: relative;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.repo{
        border-radius: 5%;
        background-color: #2f3640;
        margin-left: 40px;
        margin-top: 90px;
        position: relative;
        color: white;
        text-align: center;
        padding: 20px;
        max-width: 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}