.title{
    color: white;
    margin-top: 350px;
    margin-left: -90px;
    text-align: center;
}

.second_title{
    color: white;
    margin-top: -65px;
    margin-left: 120px;
    font-style: italic;
    text-align: center;
    font-size: 35px;
}

.SearchBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 35px;
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
}

.user_input{
    font: message-box;
    text-align: center;
    font-size: 16px;
    transition: 0.4s;
    line-height: 35px;
    transition: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 40px;
    border: none;
    background-color: none;
    float: left;
    padding: 0;
    color: white;
    width: 0px;

}

.SearchButton{
    color: white;
    background-color: #2f3640;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBox:hover > .user_input{
    width: 240px;
    padding: 0 6px;
}

